files/marconi/mioflow.txt
[{"id":"c49d6780.185298","type":"tab","label":"prova di rete","disabled":false,"info":""},{"id":"bd373e64.1bea7","type":"inject","z":"c49d6780.185298","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":true,"onceDelay":"1","x":133.5,"y":57,"wires":[["b1822672.0ea75"]]},{"id":"44781ea0.7dbf1","type":"tcp out","z":"c49d6780.185298","host":"","port":"12345","beserver":"server","base64":false,"end":true,"name":"","x":560.5,"y":58,"wires":[]},{"id":"b1822672.0ea75","type":"function","z":"c49d6780.185298","name":"date","func":"var date = new Date(msg.payload);\nmsg.payload = \"data odierna: \"+date.toString()+\"\\n\";\nreturn msg;","outputs":1,"noerr":0,"x":330.5,"y":57,"wires":[["44781ea0.7dbf1"]]}]
